body
{
    font-family: "Helvetica", "Arial", serif;
    color: #333;
    background-color: #ccc;
    margin: 1em 10%;
}
h1
{
    color: #333;
    background-color: transparent;
}
a
{
    color: #c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}
ul
{
    padding: 0;
}
li
{
    float: left;
    padding: 1em;
    list-style: none;
}
#imagegallery
{
    display: inline;
}
#imagegallery li a img
{
    border:inset 5px;
    border-color: #7FA6CA;
}   
#placeholder
{
    position:absolute;
    left:200px;
    top:200px;
    border:inset 7px #7FA6CA;
}
#description
{
    position:absolute;
    left:15%;
    bottom:80px;
    color:blue;
}